body
{
    background-color: greenyellow;
}

h1
{
    background-color: cornsilk;
    font-weight: bold;
    color: blue;
}

#show_sketch
{
    float: right;
}

#Score
{
    font-size: 25px;
    float: left;
    margin-left: 30px;
    font-weight: bold;
}

#Timer
{
    font-size: 25px;
    float: right;
    margin-right: 30px;
    font-weight: bold;
}

#sketch_to_be_drawn
{
    color: red;
    font-size: 25px;
    font-weight: bold;
}

p, span
  {
    padding-top:10px;
    font-size:25px;
  }

  canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px;}
  to {box-shadow: 1px 1px 38px;}

}